<div class="searchBar">
  <div class="container">
    <form class="search__form" role="search" method="POST" action="/search">
      <input
        type="search"
        aria-label="Search"
        id="searchInput"
        name="searchTerm"
        placeholder="Search the site..."
      />
    </form>
    <div id="seachClose">Close</div>
  </div>
</div>
